<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} - Post </title>
    <link rel="stylesheet" href="/static/style/catalog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet" />
</head>
<body>
    <header class="transparent-header">
        <div class="logo">1337b04rd</div>
        <nav>
            <a href="/">Home</a>
            <a href="/posts">Catalog</a>
            <a href="/archive">Archive</a>
        </nav>
    </header>

    <div class="container">
        <aside>
            <img src="/static/images/sticker2.png">
            <h2>{{.Post.Title}}</h2>
            <h2 class="neon">Archived Post</h2>
            <p><strong>Post ID:</strong> {{.Post.ID}}</p>
            <a href="/archive" class="btn">Back to Archive</a>
            
        </aside>
    <main>
        <div class="thread-container">
            <div class="thread">
                <h2>{{.Post.Title}}</h2>
                <pre>{{.Post.Content}}</pre>
                {{if .Post.ImageURL}}
                <div class="image-container">
                    <img src="{{ .Post.ImageURL }}" alt="{{ .Title }}">
                  </div>
                {{end}}
            </div>

            <div class="comments">
                <h3 class="comments-title">Comments:</h3>
                {{range .Comments}}
                  <div class="comment-card">
                    <p class="comment-author">{{.AuthorName}}</p>
                    <pre>{{.Content}}</pre>
                    {{if .ImageURL}}
                        <div class="image-container">
                            <img src="{{ .ImageURL}}" alt="{{ .AuthorName}}">
                        </div>
                    {{end}}
                    {{if .ReplyToCommentID}}
                        <p class="comment-reply">Replying to comment <strong>#{{.ReplyToCommentID}}</strong></p>
                    {{end}}
                  </div>
                {{else}}
                  <p class="no-comments">No comments yet.</p>
                {{end}}
              </div>
        <div>
            <button onclick="window.location.href='/archive'" class="btn">Back to Archive</button>
        </div>

        </div>
    </main>

</body>

</html>
