<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - 1337b04rd</title>
    <link rel="stylesheet" href="/static/style/error.css">
</head>
<body class="error-body" style="background: url('/static/images/error_bg.png') no-repeat center center fixed; background-size: cover;">

    <div class="error-container">
        <h1>Error {{.Code}}</h1>
        <p>{{.Message}}</p>
        <a href="/" class="button">🛸 Back to Catalog</a>
    </div>
</body>
</html>
